body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}

#wrapper {
  width: min(100%, 72rem);
}

header,
footer {
  margin: 2rem;
}

/* TODO */
.debug {
  margin: 2rem;
}

/* TODO - open the nav if we're on the home page */
/* style something else when #primary-nav is present */
/* body:has(#primary-nav) .some-other-element {
  display: none;
} */
