body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}

#wrapper {
  width: min(100%, 72rem);
}

header,
footer {
  background: repeating-radial-gradient(circle, #26547c, #ef476f);
  background-clip: text;
  padding: 2rem;
}

#header-content {
  line-height: 1.2;
  h1 {
    line-height: 1;
    color: transparent;
    font-weight: 1000;
    font-size: max(3rem, 6dvw);
  }

  p.title {
    margin-top: 0.75rem;
    color: transparent;
    font-weight: 700;
    font-size: max(2rem, 4dvw);
  }

  p.tag {
    margin-top: 0.75rem;
    color: transparent;
    font-weight: 500;
    font-size: max(1.5rem, 2dvw);
  }
}

footer {
  padding: 2rem;
  p {
    font-weight: 300;
    font-size: 1rem;
  }
}
